.App {
  background-color: #ebebeb;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #1f1f1f;
  color: white;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.input {
  width: 450px;
}

.searchtxt {
  color: white !important;
  font-weight: 700;
  background-color: #1f1f1f !important;
}

.cardView {
  display: flex;
  justify-content: center;
}

.city {
  text-align: center !important;
}

.today {
  padding: 20px;
  position: relative;
}

.cardIcon {
  display: flex;
  align-items: center;
}

.cardIcon1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Weatherdeg {
  font-size: 40px;
}

.forecast {
  padding: 60px;
}

.future {
  padding: 10px;
  position: relative;
}

.additionalDetails {
  padding: 20px;
}

.weatherImg {
  margin-left: 20px;
}

.weatherRep {
  width: 80px;
}

.rainStatus {
  margin: auto;
}

.futureReport {
  display: flex;
  align-items: center;
  justify-content: center;
}

.futureReportCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  color: white;
}

.activeDay {
  background-color: #b5b9bb !important;
}
